.user-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.serch {
	width: 100%;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 10px 10px 10px 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin-right: 10px;
	border: 2px solid #FFFFFF;
	transition: border 0.3s ease-in-out;
}
.serch:hover{
	border: 2px solid #FBE0DC;
}
.serch:focus{
	border: 2px solid blue;
}
.serch__input {
	width: 85%;
	font-size: 20px;
	line-height: 30px;
	padding: 5px 0.5rem;
	background: none;
	border-radius: 20px;
	border: none;
	outline: inherit
}
.serch__input::placeholder{
	color: #8C8C8C;
	border: none;
	transition: opacity .3s ease-in-out;
}
.serch:hover .serch__input::placeholder{
	opacity: 0;
}
.serch .serch__input:focus::placeholder{
	color: #1D1D1D;
	opacity: 1;
}
.serch__btn {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #FBE0DC;
	border-radius: 10px;
	border: none;
}
.reaction{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.reaction__link{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 60px;
	height: 60px;
	border-radius: 20px;
}
.reaction__link + .reaction__link{
	margin-left: 10px;
}
.user-action{
	padding: 20px;
	background-color: #FFFFFF;
	border-radius: 20px;
}
.user-action__nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.user-action__nav-item + .user-action__nav-item{
	margin-left: 10px;
}
.user-action__nav-box{
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}
.back-btn{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #FBE0DC;
	border: inherit;
	border-radius: 10px;
	margin-right: 10px;
	transition: background-color .5s ease-out;
}
.back-btn path{
	transition: fill .5s ease-out;
}
.back-btn:hover path{
	fill: #FFFFFF;
}
.back-btn:hover{
	background: #FF868E;
}
.name-page{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 5px 30px;
	border-radius: 10px;
}